@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --primary-yellow: hsl(47, 88%, 63%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grey: hsl(0, 0%, 50%);
  --neutral-black: hsl(0, 0%, 7%);
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

/* Main Style */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-yellow);
}

#container {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  width: 25%;
  min-width: 330px;
  height: 450px;
  background-color: var(--neutral-white);
  border: 1px solid var(--neutral-black);
  border-radius: 15px;
  box-shadow: 5px 5px var(--neutral-black);
}

#container:hover {
  box-shadow: 15px 15px var(--neutral-black);
}

#image_card {
  width: 100%;
  border-radius: 10px;
}

#container_info {
  display: flex;
  flex-direction: column;
}

#tipo {
  font-size: .9rem;
  font-weight: 700;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 80px;
  border-radius: 10px;
  background-color: var(--primary-yellow);
}

#date_published {
  padding-top: 10px;
  font-size: .8rem;
}

h2 {
  margin-top: 10px;
  font-size: 1.4rem;
  cursor: pointer;
}

h2:hover {
  color: var(--primary-yellow);
  
}

#paragraph {
  padding-top: 10px;
  font-size: .9rem;
  color: var(--neutral-grey);
}

#avatar_container {
  padding-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

#image_avatar {
  width: 40px;
  cursor: pointer;
}

#name_avatar{
  font-size: .9rem;
  font-weight: 800;
  cursor: pointer;
}

#name_avatar:hover {
  color: var(--primary-yellow);
}

